<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css"> 
    </head>
    <body>
        <div class="main-content">
             {{>header}}
             <p>This site was created by myself, Jharik Richasrdon, to experiment and learn some of the functionality of node.js. Specifically, how to bridge a server-side application on node.js to a front-end client application to render static and dynamic content. Additionally, the website uses data from the mapbox.com and weatherstack.com apis to provide the weather forecast for a given location.</p>
            <img class="portrait" src="/img/robot.png">
        </div>
           
        </div>
        {{>footer}}
    </body>
</html>